<section>
  <form  [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <input type="email" matInput placeholder="Your email" formControlName="email">
      <mat-hint>enter a valid email</mat-hint>
      <mat-error>Invalid email</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Your password" formControlName="password" >
      <mat-hint>enter your password</mat-hint>
      <mat-error>Missing password</mat-error>
    </mat-form-field>

    <button type="submit"  mat-raised-button [disabled]="loginForm.invalid">Login</button>

  </form>
</section>